.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

.dashboard__header {
  width: 100%;
  height: 64px;
}

.dashboard_type_light {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.dashboard__container {
  width: 100%;
  height: calc(100vh - 64px);
  margin: 0;
  display: flex;
}



.dashboard__theme-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border: none;
  border-radius: 100%;
  margin: 1% 1% auto auto;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
.dashboard__theme-button_type_light {
  transform: rotate(180deg);
  background-color: white;
}

.dashboard__theme-button:hover {
  opacity: 0.8;
}
